/* :root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-red: ;
} */

.workbox {
  border: 1px solid black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #F0F0F0;
}

.container {
  position: relative;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.header-menu {
  display: flex;
  line-height: 56px;
  justify-content: flex-start;
}

.header__item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header__item--one {
  padding-left: 72px;
  text-decoration: none;
}

.header__item--two {
  padding-left: 134px;
  padding-right: 300px;
  text-decoration: none;
}

.header__item--three {
  text-decoration: none;
}

.header__item--four {
  text-decoration: none;
  padding-left: 147px;
}

.header-logo {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

/* main  */
.welcome-logo {
  position: relative;
}

.welcome-logo__shape {
  position: absolute;
  z-index: 2;
  left: 0;
  top:  1;
  bottom: 0;
  right: 0;
}

.welcome-logo__img {
  position: absolute;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 76.35px auto;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  height: 120px;
}

.footer-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 23px;
}

.footer-contacts__visit {
  margin-bottom: 9px;
}

.footer-social {
  margin-top: 36px;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons__twitter {
  margin-right: 6px;
}

.footer-icons__facebook {
  margin-right: 6px;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.footer-logo__text {
  margin-right: 10px;
}
