/* :root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-red: ;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #F0F0F0;
}

.container {
  position: relative;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.header-menu {
  display: flex;
  line-height: 56px;
  justify-content: flex-start;
}

.header__item {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header__item--one {
  padding-left: 72px;
  text-decoration: none;
}

.header__item--two {
  padding-left: 134px;
  padding-right: 300px;
  text-decoration: none;
}

.header__item--three {
  text-decoration: none;
}

.header__item--four {
  text-decoration: none;
  padding-left: 147px;
}

.header-logo {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.dorem {
  height: 562px;
  background-color: rgb(46, 96, 139);
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
}

.footer-contacts {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-left: 117px;
}

.footer-social {
  padding-left: 178px;
}

.footer-visit {
  padding-bottom: 9px;
}

.icons-footer {
  display: flex;
}

.icons-footer--two {
  padding-left: 9px;
}

.footer-logo {
  display: flex;
}

.footer-logo__text {
  text-transform: uppercase;
  padding-left: 228px;
  line-height: 48px;
  padding-right: 8px;
}
